github "nerdishbynature/RequestKit" ~> 0.2.2
github "OAuthSwift/OAuthSwift" ~> 0.5.0
github "daltoniam/SwiftHTTP" >= 1.0.4
github "daltoniam/JSONJoy-Swift" >= 2.0.0
github "hirohisa/ImageLoaderSwift" ~> 0.6.0
github "ninjaprox/NVActivityIndicatorView"
